#img-qr {
    width: 300px;
    margin-top: 20px;
}

body {
  background-color: #d3f6ff91;
}

.ticket {
  position: relative;
  box-sizing: border-box;
  width: 300px;
  height: 450px;
  margin: 150px auto 0;
  padding: 20px;
  border-radius: 10px;
  background: #ffffff;
  box-shadow: 2px 2px 15px 0px #004b77;
}
  :before,
  :after {
    content: '';
    position: absolute;
    left: 5px;
    height: 6px;
    width: 290px;
  }
  
  :before {
    top: -5px;
    background: radial-gradient(circle, transparent, transparent 50%, #FBFBFB 50%, #FBFBFB 100% ) -7px -8px / 16px 16px repeat-x,
  }
  
  :after {
    bottom: -5px;
    background: radial-gradient(circle, transparent, transparent 50%, #FBFBFB 50%, #FBFBFB 100% ) -7px -2px / 16px 16px repeat-x,
  }

.text-tiket {
    font-weight: 400;
    font-size: 12px;
    color: rgb(156, 156, 156);
}

// .ticket__content {
//   box-sizing: border-box;
//   height: 100%;
//   width: 100%;
//   border: 6px solid #D8D8D8;
// }

// .ticket__text {
//   width: 300px;
//   font-size: 1rem;
//   font-weight: 500;
//   color: #56b9fb;
//   transform: translate(-25px, 25px) rotate(-55deg) ;
// }